@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root body styles */
body {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

/* Custom CSS properties for animation */
@property --a {
  initial-value: 0deg;
  inherits: false;
  syntax: "<angle>";
}

@property --h {
  initial-value: 0;
  inherits: false;
  syntax: "<number>";
}
/* Fullscreen Loader Container */
.loader-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Allow positioning of children */
  overflow: hidden; /* Prevent overflow during animation */
}

/* Loader Styling */
.loader {
  padding: 2rem 5rem;
  font-family: monospace;
  font-weight: bold;
  font-size: 5rem;
  color: #01553d;
  z-index: 10; /* Ensure text is above the background */
  border: 5px solid #01553d;
}

/* Fade in effect for the body background */
body {
  transition: background-color 1s ease-in-out; /* Smooth background transition */
}
